{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Adicionar uma categoria {% endblock %}</h1>
<form method="post">
    <p>
        <label for="nome_cat">Nome</label>
        <input type="text" name="nome_cat"
               placeholder="Nome da categoria">
        </input>
    </p>
    <p>
        <label for="tipo_cat">Tipo</label>
        <input type="text" name="tipo_cat"
               placeholder="Tipo da categoria">
        </input>
    </p>

    <p>
        <button type="submit">Submeter</button>
    </p>
</form>
{% endblock %}