{% extends 'base.html' %}

{% block content %}
<a href="criarCategoria">Criar Categoria</a><br>
<a href="criarSuperCategoria">Criar Super Categoria</a><br>
<a href="criarCategoriaSimples">Criar Categoria Simples</a><br>
<a href="criarRetalhista">Criar Retalhista</a><br>
<a href="listarCategoria">Listar Categoria</a><br>
<a href="listarSuperCategoria">Listar Super Categorias</a><br>
<a href="listarCategoriaSimples">Listar Catgorias Simples</a><br>
<a href="listarSubCategoriasForm"> Listar Subcategorias</a><br>
<a href="listarIVMForm">Listar Eventos Reposição por IVM</a><br>

{% endblock %}