{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Adicionar um Retalhista {% endblock %}</h1>
<form method="post">
    <p>
        <label for="tin">TIN</label>
        <input type="number" name="TIN"
               placeholder="TIN">
        </input>
    </p>
    <p>
        <label for="nome_ret">Nome</label>
        <input type="text" name="nome_ret"
               placeholder="Nome Retalhista">
        </input>
    </p>
    <p>
        <label for="nome_cat">Nome Categoria</label>
        <input type="text" name="nome_cat"
               placeholder="Nome Categoria">
        </input>
    </p>
    <p>
        <button type="submit">Submeter</button>
    </p>
</form>
{% endblock %}