{% extends 'base.html' %}
{% block content %}
<doctype html>
    <title>Listar Categoria - Flask</title>
    <body style="padding:20px">
    {% if categoria %}
    <table border="2px">
        <thead>
        <tr>
            <th>Categoria</th>
        </tr>
        </thead>
        <tbody>
        {% for categoria in categoria %}
        <tr>
            <td>{{ categoria[0] }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p> Error: failed to retrieve data from database!</p>
    {% endif %}
    </body>
</doctype>
{% endblock %}